/*=== BASIC ===*/
body {
    margin: 0;
}
@font-face {
    font-family: Proxima-bold;
    src: url('../fonts/ProximaNova-Bold.otf');
}
@font-face {
    font-family: Proxima-regular;
    src: url('../fonts/ProximaNova-Regular.otf');
}

/*=== VARIABLES ===*/
.background {
    background: url("../img/background.jpg") no-repeat center center fixed;
    width: 100%;
    height: auto;
    background-size: cover;
}
/*=== HEADER ===*/
.header {
    margin: 0;
    padding: 26px 0 8px 0;
}
/*=== CONTENT ===*/
.content__text1 {
    text-shadow: 0px 0px 30px #000;
    font-family: Proxima-bold;
    text-align: center;
    font-size: 64px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.content__text2 {
    font-family: Proxima-regular;
    font-size: 26px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 30px #000;
}
.content__text3 {
    font-family: Proxima-bold;
    font-size: 29px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    letter-spacing: 1px;
    text-shadow: 1px 2px 0 #333;
}
.content__input {
    text-align: center;
}
.content__input__address {
    font-family: Proxima-regular;
    color: #7f7f7e;
    font-size: 18px;
    height: 50px;
    padding: 14px;
    width: 65%;
    border: none;
    border-radius: 8px;
}
.content__button {
    padding: 11px;
    background-color: #00bdad;
    font-weight: bold;
    color: #fff;
    width: 150px;
    font-size: 18px;
    font-family: 'Proxima Nova', sans-serif;
    box-shadow: 4px 4px 5px #02e6d2 inset;
    text-align: center;
    margin-top: -4px;
    border-radius: 6px;
    margin-left: 40px;
}
.content__icons {
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.icon2 {
    border-left: solid 2px #ccc;
}
.icon3 {
    border-left: solid 2px #ccc;
}
.icon__text1 {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
}

/*=== FOOTER ===*/
.footer_space {
    width: 100%;
    height: 250px;
}
.footer {
    width: 100%;
    height: 80px;
    background-color: #000;
    background: rgba(0, 0, 0, 0.3);
    padding: 7px 0 5px 0;
}
.footer__text {
    color: #ffffff;
    margin-bottom: 9px;
}
.footer__icon{
    width: 12px;
    height: 12px;
}
.footer__text_1{
    margin-top: 5px;
}
.footer {
    padding-left: 100px;
}
.footer__text2 {
    margin-top: 22px;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
}

/*=== MEDIA QUERIES ===*/
@media (max-width: 1199px) {
    .footer {
        height: 100px;
        margin-top: 250px;
    }
}
@media (max-width: 991px) {
    .icon2 {
        border-left: solid 0px #ccc;
        margin-top: 50px;
    }

    .icon3 {
        border-left: solid 0px #ccc;
        margin-top: 50px;
    }
    .content__input__address{
        width: 100%;
    }
    .content__button{
        width: 100%;
        margin: 0;
        position: relative;
        top: 20px
    }
}







