<!-- Step 1-->
<div ng-show="step == 1" class="container">
  <p class="content__text3">Enter your address below</p>
  <div class="content__input">
    <input type="text" ng-model="searchModel" g-places-autocomplete class="content__input__address" placeholder="Street Address">
    <button type="submit" name="next" class="content__button" ng-click="goToStep2()">NEXT</button>
  </div>
</div>
<!-- End Step 1-->

<!-- Step 2-->
<div ng-show="step == 2" class="container">
  <p class="content__text3">
    Property Found! Where would you like us<br>
    to send your home valuation report?
  </p>
  <div class="col-md-10 col-sm-push-1 col-xs-12 input__block__main">
    <div class="map col-sm-6">
      <div id="map-canvas"></div>
    </div>
    <div class="form col-sm-6">
      <form ng-submit="goToStep3()" class="verify_form">
        <div class="form-group">
          <input class="input__block name" type="text" name="name" placeholder="Your Name*" autofocus="">
        </div>
        <div class="form-group">
          <input class="input__block email" type="text" name="email" placeholder="Valid Email*">
        </div>
        <div class="form-group">
          <input class="input__block phone" type="text" name="phone" placeholder="Your Cell*">
        </div>
        <div class="form-group">
          <select name="market" class="input__block market" placeholder="Selling In">
            <option class="option1" value="none" selected="">Selling In</option>
            <option class="option2" value="1_3">1-3 months</option>
            <option class="option3" value="3_6">3-6 months</option>
            <option class="option4" value="6_12">6-12 months</option>
            <option class="option5" value="just_curious">Just curious</option>
            <option class="option6" value="refinancing">Refinancing</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="content__button__step__2">NEXT</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Step 2-->

<!-- Step 3-->
<div class="container" ng-show="step == 3">
  <p class="content__text3">Get an opinion of value from your local area real estate expert!</p>
  <!--content start-->
  <div class="content__result">
    <div class="col-xs-8 col-xs-push-2 col-sm-8 content__result__bg">
      <div class="content__result__leftCol">
        <div class="col-xs-3 col-sm-3 col-md-3 content__result__leftCol__img text-right">
          <img src="../images/men.png"/>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 content__result__leftCol__txt">
          <span class="left__col__txt__title">Justin Critchfield</span>
          <br>
          <br>
          <span class="left__col__txt__contnet">
            <a href="#"> (801) 891-5489</a>
            <br>
            <a href="#">Send Mail</a>
          </span>
        </div>
      </div>
      <div class="content__result__rightCol">
        <div class="col-xs-6 col-sm-6 content__result__rightCol__txt">
          <p>Want more accuracy?</p>
          <p>Contact me to get a free</p>
          <p>professional estimate!</p>
          <br>
          <p>Start searching all homes for sale!</p>
          <p>http://www.RealDealUtah.com</p>
        </div>
      </div>
    </div>
    <div class="content__result__btn text-center col-xs-12 col-sm-12">
      <button role="button">CHALLENGE THE VALUE</button>
    </div>
    <div class="col-xs-6 col-sm-6 content__button__message text-center col-xs-push-3 col-sm-push-3">
      <p>We're sorry, we weren't able to find an automated valuation for the address entered.
        Please contact Justin Critchfield directly for an in-depth review of your home's value.</p>
    </div>
  </div>
  <!--content end-->
</div>
<!-- End Step 3-->

<!-- Steppers-->
<div class="container">
  <div class="col-sm-12">
    <div class="content__icons col-sm-8 col-sm-push-2">
      <div class="icon col-sm-4 text-center">
        <div class="icon__border">
          <img ng-if="step === 1" src="images/icon/home.png"/>
          <img ng-if="step !== 1" src="images/icon/homeA.png"/>
          <p class="icon__text1">
            <span>Step 1</span>
            <br>
            <span>Enter Property Address</span>
          </p>
        </div>
      </div>
      <div class="icon2 col-sm-4 text-center">
        <div class="icon__border">
          <img ng-if="step !== 2" src="images/icon/house-search.png"/>
          <img ng-if="step === 2" src="images/icon/house-searchA.png"/>
          <p class="icon__text1">
            <span>Step 2</span>
            <br>
            <span>Property Details</span>
          </p>
        </div>
      </div>
      <div class="icon3 col-sm-4 text-center">
        <div class="icon__border">
          <img ng-if="step !== 3" src="images/icon/house-value.png"/>
          <img ng-if="step === 3" src="images/icon/house-valueA.png"/>
          <p class="icon__text1">
            <span>Step 3</span>
            <br>
            <span>Property Valuation</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Steppers End!-->
